# Node.js
node_modules/
npm-debug.log*

# Backend (C++)
*.exe
*.out
scheduler

# Runtime JSON files
bridge/input/processes.json
bridge/output/result.json

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment files
.env

# Build / temp
build/
dist/

# C++ build files
*.o
